body {
    margin: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 8px 0;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

#menu {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 16px;
    flex-direction: column;
    text-align: center;
}

#game__canvas,#menu {
    background-color: #d5d5d5;
}

#game__menu {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffffbd;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 0;
    position: absolute;
}

#game__menu > h1 {
    margin: 16px;
}

#menu__action__multi-game {
    color: #a6a6a6;
    cursor: progress;
}
  